# working variables and expressins

In [1]:
a=10
b=5.3
c="hello gopi"

In [2]:
a,b,c

(10, 5.3, 'hello gopi')

# Data structures

In [3]:
l1=[1,2,3,4,5,6,7]

In [4]:
l1

[1, 2, 3, 4, 5, 6, 7]

In [5]:
print(l1)

[1, 2, 3, 4, 5, 6, 7]

In [6]:
l1[0]

1

In [7]:
l1[2]

3

In [8]:
l1[1:3]

[2, 3]

In [9]:
l2=["gopi","m",1]

In [10]:
l2

['gopi', 'm', 1]

create a list having id ,name

# append

In [11]:
l1.append(8)

In [12]:
l1

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
l1[4]=83
l1

[1, 2, 3, 4, 83, 6, 7, 8]

# extending list

In [17]:
list1=['gopi','krishna']
list1

['gopi', 'krishna']

In [18]:
list1.extend(['venkey','vamsi'])
list1

['gopi', 'krishna', 'venkey', 'vamsi']

In [19]:
list2=['a','b','c','d']
list2

['a', 'b', 'c', 'd']

# indexing

In [20]:
list2.index('b')

1

In [20]:
list2.append('b')

In [21]:
list2

['a', 'b', 'c', 'd']

In [22]:
list2.index('b',2)

4

insert an element specified index

In [23]:
list2.insert(5,'gopi')
list2

['a', 'b', 'c', 'd', 'b', 'gopi']

# Remove

In [24]:
list2.remove('c')
list2

['a', 'b', 'd', 'b', 'gopi']

In [25]:
list2.pop()

'gopi'

In [22]:
list3=['Gopi','Monika','vamasi','venkey','Gopi']
list3.count('Gopi')

2

# sorting

In [23]:
list3.sort()
list3

['Gopi', 'Gopi', 'Monika', 'vamasi', 'venkey']

In [24]:
list3.sort(reverse=True)
list3

['venkey', 'vamasi', 'Monika', 'Gopi', 'Gopi']

# slicing

# Tuple

In [30]:
t1=(1,2,3)
t1

(1, 2, 3)

In [31]:
(1,)*5

(1, 1, 1, 1, 1)

In [32]:
t1+=(4,5,6)
t1

(1, 2, 3, 4, 5, 6)

In [33]:
t1.count(1)

1

In [34]:
t1.index(2)

1

In [35]:
t1.index(1,2)

ValueError: tuple.index(x): x not in tuple

In [36]:
x,y=1,2

In [37]:
x,y

(1, 2)

In [38]:
x,y=y,x

In [39]:
x,y

(2, 1)

In [40]:
len(t1)

6

In [42]:
t1[1:]

(2, 3, 4, 5, 6)

In [43]:
t1[2:4]

(3, 4)

In [46]:
t2=t1

In [47]:
t2

(1, 2, 3, 4, 5, 6)

In [48]:
max(t1)

6

In [49]:
min(t2)

1

# Dictionary

In [1]:
d={"gopi":58,"sravya":57,"vamsi":56}
d

{'gopi': 58, 'sravya': 57, 'vamsi': 56}

In [3]:
d.keys()

dict_keys(['gopi', 'sravya', 'vamsi'])

In [4]:
d.values()

dict_values([58, 57, 56])

In [5]:
d.items()

dict_items([('gopi', 58), ('sravya', 57), ('vamsi', 56)])

In [10]:
d1={"a":1,"b":2,"c":3}
d1

{'a': 1, 'b': 2, 'c': 3}

In [11]:
d1.popitem()

('c', 3)

In [12]:
d1.clear()

In [9]:
d1

{}

In [13]:
d2={"a":1,"b":2,"c":3}
d2

{'a': 1, 'b': 2, 'c': 3}

In [14]:
del d2['a']
d2

{'b': 2, 'c': 3}

In [15]:
d3={"gopi":58}
d3

{'gopi': 58}

In [16]:
d4={"vamsi":56}
d4

{'vamsi': 56}

In [17]:
d3.update(d4)

In [18]:
d3

{'gopi': 58, 'vamsi': 56}

# Strings

In [20]:
text="Gopi krishna Gunturu"
text

'Gopi krishna Gunturu'

In [21]:
text[0]

'G'

In [24]:
text[0]="g"  #it dos't support string object change

TypeError: 'str' object does not support item assignment

In [27]:
t1="Gopi"
t2="krishna"
t3="Gunturu"
print(t1)
print(t2)
print(t3)

Gopi
krishna
Gunturu

In [29]:
t4=t1+" "+t2+" "+t3
t4

'Gopi krishna Gunturu'

# SETS

In [30]:
a=set([1,2,3,4,5,6])
a

{1, 2, 3, 4, 5, 6}

In [32]:
b=([4,5,6,7,8,9,10])
b

[4, 5, 6, 7, 8, 9, 10]

In [33]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [36]:
c=a.intersection(b)
c

{4, 5, 6}

In [37]:
c.issubset(a)

True

In [38]:
c.issuperset(a)

False

In [39]:
a.add(b)

TypeError: unhashable type: 'list'

In [40]:
a1=frozenset([1,2,3,4,5])
a2=frozenset([4,5,6,7,8,9])

In [45]:
a1.union(a2)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [46]:
a1.add(frozenset(a2))

AttributeError: 'frozenset' object has no attribute 'add'